.group-card-li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid $gray;
}

.group-card-name {
  background-color: $gray;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: large;
}
