@import 'variables';
//TODO GTB-知识点: - 组件的样式可以在组件内部import
@import 'src/components/Group/Group';
@import 'src/components/GroupCard/GroupCard';
@import 'src/components/NameCard/NameCard';

body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: $base-font-size;
  background-color: $bg-gray;
}

.App {
  width: 60vh;
  margin: 0 auto;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
